body {
    background-color: rgb(7, 8, 9);
    font-family: monospace;
    color: white;
}

a {
    font-size: 14px;
}

img {
    border-radius: 50%;
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    padding: 10px;
}

footer {
    text-align: center;
}
